In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("../data/raw/remote_ok_Datasets_raw.csv")

In [3]:
df.head(10)

,Search Role,Job Title,Company Name,Technical Skills,Job Attributes,Location,Date Posted,Job URL
0,Support,DeFi Analyst and Educator,Decentralized Masters,"Edu, Teaching, Crypto",NaN,?? Worldwide,2025-08-22T13:22:49+00:00,https://remoteok.com/remote-jobs/remote-defi-a...
1,Engineer,Full Stack Product Engineer,Jiga,"Senior, JavaScript, React, Node, Mongo, Full S...",NaN,???? United States,2026-01-04T09:11:39+00:00,https://remoteok.com/remote-jobs/remote-full-s...
2,Engineer,Lead Omics Workflow Engineer,Axle,"Software, Assistant, Lead, Health, Healthcare,...",NaN,?? Upgrade to Premium to see salary,2026-01-06T00:02:28+00:00,https://remoteok.com/remote-jobs/remote-lead-o...
3,Engineer,Copy of Senior AI ML Engineer Applied Machine ...,Trase Systems,Senior,NaN,USA,2026-01-06T00:02:04+00:00,https://remoteok.com/remote-jobs/remote-copy-o...
4,Engineer,Senior Software Engineer Backend Engineering,Trase Systems,"Software, Senior, Engineering, Backend",NaN,?? Upgrade to Premium to see salary,2026-01-06T00:01:33+00:00,https://remoteok.com/remote-jobs/remote-senior...
5,Engineer,Senior Software Engineer Frontend Engineering,Trase Systems,"Front End, Software, Senior, Engineering",NaN,?? Upgrade to Premium to see salary,2026-01-06T00:00:49+00:00,https://remoteok.com/remote-jobs/remote-senior...
6,Engineer,Software Engineer Agent Infrastructure,OpenAI,"Software, Design, System, Security, Training, ...",NaN,?? Probably worldwide,2026-01-05T22:00:11+00:00,https://remoteok.com/remote-jobs/remote-softwa...
7,Engineer,Software Engineer,Tech Solutions Inc.,"Software, Web",NaN,San Francisco,2026-01-05T20:00:13+00:00,https://remoteok.com/remote-jobs/remote-softwa...
8,Engineer,Senior Backend PHP Software Engineer Inventory,Cloudbeds,"Software, SaaS, Amazon, Web, PHP, Strategy, Se...",NaN,Minnesota,2026-01-05T18:01:20+00:00,https://remoteok.com/remote-jobs/remote-senior...
9,Engineer,Senior Backend PHP Software Engineer Inventory,Cloudbeds,"Software, SaaS, Amazon, Web, PHP, Strategy, Se...",NaN,Michigan,2026-01-05T18:00:53+00:00,https://remoteok.com/remote-jobs/remote-senior...

In [4]:
df.shape

(4398, 8)

In [5]:
df = df.reset_index(drop=True)

In [6]:
df.columns=(df.columns.str.lower().str.strip().str.replace(" ","_"))

In [7]:
df.head(2)

,search_role,job_title,company_name,technical_skills,job_attributes,location,date_posted,job_url
0,Support,DeFi Analyst and Educator,Decentralized Masters,"Edu, Teaching, Crypto",NaN,?? Worldwide,2025-08-22T13:22:49+00:00,https://remoteok.com/remote-jobs/remote-defi-a...
1,Engineer,Full Stack Product Engineer,Jiga,"Senior, JavaScript, React, Node, Mongo, Full S...",NaN,???? United States,2026-01-04T09:11:39+00:00,https://remoteok.com/remote-jobs/remote-full-s...

In [8]:
df['job_attributes'].isnull().sum()

4063

In [9]:
df = df.drop(columns=["job_attributes"])

In [10]:
df['technical_skills'].isnull().sum()

72

In [11]:
# df["job_attributes"]=df['job_attributes'].fillna("Not Specified")
df["technical_skills"]=df['technical_skills'].fillna("unknown")

In [12]:
df['technical_skills'].values

array(['Edu, Teaching, Crypto',
       'Senior, JavaScript, React, Node, Mongo, Full Stack',
       'Software, Assistant, Lead, Health, Healthcare, Educational', ...,
       'Security, Cloud, Engineer, Engineering, Backend',
       'Senior, Engineer, Backend',
       'Senior, Operations, Reliability, Engineer'], dtype=object)

In [13]:
df.head(2)

,search_role,job_title,company_name,technical_skills,location,date_posted,job_url
0,Support,DeFi Analyst and Educator,Decentralized Masters,"Edu, Teaching, Crypto",?? Worldwide,2025-08-22T13:22:49+00:00,https://remoteok.com/remote-jobs/remote-defi-a...
1,Engineer,Full Stack Product Engineer,Jiga,"Senior, JavaScript, React, Node, Mongo, Full S...",???? United States,2026-01-04T09:11:39+00:00,https://remoteok.com/remote-jobs/remote-full-s...

In [14]:
df['location']

0                              ?? Worldwide
1                        ???? United States
2       ?? Upgrade to Premium to see salary
3                                       USA
4       ?? Upgrade to Premium to see salary
                       ...
4393                  ?? Probably worldwide
4394                  ?? Probably worldwide
4395                  ?? Probably worldwide
4396                  ?? Probably worldwide
4397                  ?? Probably worldwide
Name: location, Length: 4398, dtype: object

In [15]:
# location cleaning
def clean_loc(x):
    if pd.isna(x):
        return "unknown"
    x=x.replace("?","").strip()
    if x=="":
        return "unknown"
    return x

In [16]:
df['location']=df['location'].apply(clean_loc)

In [17]:
df["location"].unique()

array(['Worldwide', 'United States', 'Upgrade to Premium to see salary',
       'USA', 'Probably worldwide', 'San Francisco', 'Minnesota',
       'Michigan', 'Massachusetts', 'US/Canada', 'India', 'France',
       'New York City', 'Remote, U.S.', 'Palo Alto', 'San Jose',
       'Remote - United States', 'U.S. Remote', 'Hyderabad',
       'Remote - US', 'Remote EMEA, Remote Asia',
       'Remote - North America', 'Mountain View', 'Amman', 'Seattle, WA',
       'Dhaka', 'Bucharest', 'Alpharetta', 'Remote - EMEA', 'Noida',
       'Carson City', 'Golden, CO or San Francisco', 'Remote: Spain',
       'Poland', 'Europe', 'Remote, Canada', 'Lisbon', 'Remote, US',
       'Remote, USA', 'Remote – Europe or East Coast North America',
       'Remote Mexico City', 'Brooklyn, NY', 'US, CA, Remote',
       'Remote - Asia', 'Philippines', 'Remote  - CST Timezone',
       'Europe & Asia', 'Banja Luka, Bosnia or Belgrade, Serbia',
       'Globally Remote', 'Broomfield, Colorado, United States',
       'Not specified',
       'Boise, Idaho, USA; Denver, Colorado, USA; Jackson, Wyoming, USA; Portland, Oregon, USA; Salt Lake City, Utah, USA; Vancouver, Washington, USA',
       'Springfield, IL', 'Remote - Global (Anywhere)', 'New York',
       'Remote, United Kingdom', 'Lisbon, Portugal', 'Texas',
       'New York, NY', 'Remote US', 'Remote - Europe - North America',
       'US', 'Canada', 'Pune or Delhi/NCR', 'US / Remote',
       'New York City, Seattle, San Francisco', 'Remote - USA', 'London',
       'Remote: Europe', 'Remote - APAC', 'Any', 'Los Angeles or Remote',
       'Miami', 'Amsterdam', 'Bengaluru', 'Madrid',
       'Green Bay, Wisconsin', 'Global Remote', 'Remote Eligible-US',
       'Remote/Greece', 'Latin America', 'Open- Canada', 'Folsom',
       'Remote Europe | Remote Asia', 'Romania', '#LI-Remote', 'D.C.',
       'Remote / Asia', 'LatAm, North Macedonia, Portugal, Serbia',
       'Hong Kong', 'World Wide', 'LATAM', 'Mexico', 'San Mateo',
       'Remote - Estonia', 'Shanghai, China', 'Remote Americas',
       'Rockville, MD', 'NY', 'Remote in Bulgaria', 'Bangalore', 'Nepal',
       'Remote U.S.', 'South Korea - Remote', 'Argentina',
       'United Kingdom', 'Remote - India', 'Melbourne', 'Eugene',
       'European Union', 'EMEA', 'Spain', 'Austin', 'Greater Delhi Area',
       'Dubai', 'Remote – Argentina & Latin America',
       'Remote, United States', 'Irvine, CA', 'Atlanta (Remote Friendly)',
       'Colombia', 'Brazil', 'All', 'Toronto', 'North Carolina',
       'Remote, Georgia, USA', 'Remote Canada', 'U.S.',
       'Remote - Anywhere in the U.S.', 'US - Remote',
       'US, CA, Santa Clara', 'Columbia', 'Berkeley', 'Seattle', 'Mumbai',
       'Remote Europe, Remote Asia', 'Los Angeles', 'Menlo Park',
       'Manila', 'San Francisco, CA', 'Work From Home',
       'Remote- United States', 'Barcelona', 'Cheltenham', 'Tampa',
       'Washington, D.C.', 'Anywhere in the United States', 'Chicago',
       'Remote-Northern Europe', 'Dallas / Ft. Worth, TX',
       'Sparks Glencoe', 'Midland, Texas', 'California',
       'Cardiff London or  UK', 'Germany', 'Colombia - Remote',
       'Remote - Boston, Massachusetts; Remote - New York, New York; Remote - United States; Remote - Washington, District of Columbia',
       'US based', 'New York, NY; San Francisco, CA', 'Denver,  CO',
       'US Only', 'London / Remote', '1 Remote', 'Chicago, IL',
       'New Delhi', 'Remote / Flexible', 'Louisville', 'Irvine',
       'South Korea', 'Ankara, Türkiye - Remote', 'Manchester', 'Denver',
       'Remote within US and Canada', 'Paris', 'USA, Remote',
       'Atlanta, GA', 'Florida', 'New York, New York', 'US - REMOTE',
       'Remote - Australia', 'Bastrop, TX', 'USA - Remote', 'EU',
       'Malaysia', 'Remote - Canada', 'Ontario - Remote', 'Remote - UK',
       'Anywhere', 'Anywhere (Open Globally)', 'Taiwan', 'Delhi',
       'Washington DC', 'any', 'Lehi',
       'Remote - North America or South America', 'Boston', 'Singapore',
       'Remote - Argentina', 'Costa Rica', 'Tampa, FL', 'Charlotte, NC',
       'Austin, TX', 'Orlando, FL', 'Pittsburgh, PA', 'Dallas-Fort Worth',
       'Remote in Toronto', 'Ankeny, IA', 'Calgary', 'Remote - Mexico',
       'Charlotte', 'Boston, Massachusetts', 'Gibraltar', 'Cairo',
       'NY/SF/US Remote', 'Hamburg', 'Remote / USA', 'Chennai', 'Berlin',
       'Toronto, Ontario, Canada', 'Multiple Locations', 'CAN-Remote',
       'Nairobi', 'Part time', 'North America',
       'Eastern Time Zone (EST) USA', 'U.S. (Remote)', 'Remote- US',
       'Louisville, KY', 'Denver, Colorado', 'Remote - PA, NY, or NJ',
       'New Orleans, LA', 'Remote - Switzerland', 'Remote, Mexico',
       'Remote, United States or Austin, TX HQ',
       'Anywhere In South America', 'Remote, East Coast',
       'Philippines / Remote', 'Ritterstraße 12, 10969 Berlin',
       'Remote - Global', 'Redwood City', 'Arizona', 'Orlando',
       'USA - Remote - CA', 'São Paulo',
       'Remote US Central; Remote US West', 'Portland, Maine', 'Yerevan',
       'Remote - Europe', 'Granada', 'Oregon City, Oregon',
       'City Name Here',
       'Toronto, Canada; Boston, MA, US; Broomfield, Colorado, US; Waterloo, Ontario',
       'Oregon', 'Cambridge', 'Global', 'Charleston', 'Tanzania',
       'Nigeria', 'Washington, DC', 'Detroit', 'Silver Spring, MD',
       'Kansas City area', 'Washington D.C.', 'Remote in the Philippines',
       'Remote-EMEA', 'Remote USA', 'Sacramento', 'Southwest',
       'Remote or Seattle, WA', 'Thailand', 'Africa', 'Mt. Laurel, NJ',
       'US Remote', 'UK', 'United States of America', 'Bulgaria',
       'Remote within Europe', 'U.S. & Canada'], dtype=object)

In [18]:
# as location column is very noisy so creating different coloumns location typ and region wise for better understanding

In [19]:
df["location_raw"]=df["location"]
df['location']=df['location'].str.lower().str.strip()

In [20]:
def loc_type(x):
    if pd.isna(x):
        return "unknown"
    if "remote" in x or "work from home" in x:
        return "Remote"
    if any(i in x for i in ["world", "global", "anywhere"]):
        return "Remote"
    if x in ["any", "all", "not specified", "multiple locations", "part time"]:
        return "Unknown"

    return "Onsite"

In [21]:
df['location_type']=df['location'].apply(loc_type)

In [22]:
df.head(2)

,search_role,job_title,company_name,technical_skills,location,date_posted,job_url,location_raw,location_type
0,Support,DeFi Analyst and Educator,Decentralized Masters,"Edu, Teaching, Crypto",worldwide,2025-08-22T13:22:49+00:00,https://remoteok.com/remote-jobs/remote-defi-a...,Worldwide,Remote
1,Engineer,Full Stack Product Engineer,Jiga,"Senior, JavaScript, React, Node, Mongo, Full S...",united states,2026-01-04T09:11:39+00:00,https://remoteok.com/remote-jobs/remote-full-s...,United States,Onsite

In [23]:
df["location_type"].value_counts()

location_type
Onsite     2771
Remote     1594
Unknown      33
Name: count, dtype: int64

In [24]:
# creating region wise here
def loc_region(x):
    if pd.isna(x):
        return "unknow"
    if any(i in x for i in ["world",'global','anywhere']):
        return "WorldWide"
    if any(i in x for i in ['united states','usa','u.s.',"us ", "us-", "america"]):
        return "USA"
    
    if any(i in x for i in ["canada", "toronto", "ontario"]):
        return "Canada"

    if any(i in x for i in ["europe", "uk", "london", "germany", "france", "spain", "italy", "poland", "romania", "eu"]):
        return "Europe"

    if any(i in x for i in ["india", "bangalore", "bengaluru", "delhi", "pune", "mumbai", "chennai", "hyderabad"]):
        return "India"

    if any(i in x for i in ["asia", "singapore", "philippines", "china", "taiwan", "korea", "japan", "malaysia"]):
        return "Asia"

    if any(i in x for i in ["latin", "latam", "brazil", "argentina", "colombia", "mexico"]):
        return "LATAM"

    if any(i in x for i in ["africa", "nigeria", "kenya", "tanzania"]):
        return "Africa"

    return "Other"

In [25]:
df['loc_region']=df["location"].apply(loc_region)

In [26]:
df['loc_region'].value_counts()

loc_region
Other        2182
WorldWide     942
USA           715
Europe        149
India         120
LATAM         104
Canada         94
Asia           85
Africa          7
Name: count, dtype: int64

In [27]:
df.head(3)

,search_role,job_title,company_name,technical_skills,location,date_posted,job_url,location_raw,location_type,loc_region
0,Support,DeFi Analyst and Educator,Decentralized Masters,"Edu, Teaching, Crypto",worldwide,2025-08-22T13:22:49+00:00,https://remoteok.com/remote-jobs/remote-defi-a...,Worldwide,Remote,WorldWide
1,Engineer,Full Stack Product Engineer,Jiga,"Senior, JavaScript, React, Node, Mongo, Full S...",united states,2026-01-04T09:11:39+00:00,https://remoteok.com/remote-jobs/remote-full-s...,United States,Onsite,USA
2,Engineer,Lead Omics Workflow Engineer,Axle,"Software, Assistant, Lead, Health, Healthcare,...",upgrade to premium to see salary,2026-01-06T00:02:28+00:00,https://remoteok.com/remote-jobs/remote-lead-o...,Upgrade to Premium to see salary,Onsite,Other

In [28]:
junk_locations = [
    "upgrade to premium",
    "not specified",
    "any",
    "all",
    "multiple locations",
    "part time"
]
def fix_junk_locations(r):
    loc = r["location"]
    
    if any(junk in loc for junk in junk_locations):
        return pd.Series(["Unknown", "Unknown"])
    
    return pd.Series([r["location_type"], r["loc_region"]])

df[["location_type", "loc_region"]] = df.apply(
    fix_junk_locations, axis=1
)

In [29]:
# combining others and unknown to others
df['loc_region']=df['loc_region'].replace(["Other","other","unknown","Unknown"],"Others")
df['loc_region'].value_counts()

loc_region
Others       2265
WorldWide     863
USA           715
Europe        145
India         120
LATAM         104
Canada         94
Asia           85
Africa          7
Name: count, dtype: int64

In [30]:
df.head(3)

,search_role,job_title,company_name,technical_skills,location,date_posted,job_url,location_raw,location_type,loc_region
0,Support,DeFi Analyst and Educator,Decentralized Masters,"Edu, Teaching, Crypto",worldwide,2025-08-22T13:22:49+00:00,https://remoteok.com/remote-jobs/remote-defi-a...,Worldwide,Remote,WorldWide
1,Engineer,Full Stack Product Engineer,Jiga,"Senior, JavaScript, React, Node, Mongo, Full S...",united states,2026-01-04T09:11:39+00:00,https://remoteok.com/remote-jobs/remote-full-s...,United States,Onsite,USA
2,Engineer,Lead Omics Workflow Engineer,Axle,"Software, Assistant, Lead, Health, Healthcare,...",upgrade to premium to see salary,2026-01-06T00:02:28+00:00,https://remoteok.com/remote-jobs/remote-lead-o...,Upgrade to Premium to see salary,Unknown,Others

In [31]:
# converting and normalizing date coloumns

In [32]:
df['date_posted']=pd.to_datetime(df['date_posted'],utc=True,errors='coerce')

In [33]:
df['date_posted']=df['date_posted'].dt.tz_localize(None)

In [34]:
df.head(2)

,search_role,job_title,company_name,technical_skills,location,date_posted,job_url,location_raw,location_type,loc_region
0,Support,DeFi Analyst and Educator,Decentralized Masters,"Edu, Teaching, Crypto",worldwide,2025-08-22 13:22:49,https://remoteok.com/remote-jobs/remote-defi-a...,Worldwide,Remote,WorldWide
1,Engineer,Full Stack Product Engineer,Jiga,"Senior, JavaScript, React, Node, Mongo, Full S...",united states,2026-01-04 09:11:39,https://remoteok.com/remote-jobs/remote-full-s...,United States,Onsite,USA

In [35]:
# seprating date and time

In [36]:
df['post_time']=df['date_posted'].dt.time
df['post_date']=df['date_posted'].dt.date

In [37]:
df.head(3)

,search_role,job_title,company_name,technical_skills,location,date_posted,job_url,location_raw,location_type,loc_region,post_time,post_date
0,Support,DeFi Analyst and Educator,Decentralized Masters,"Edu, Teaching, Crypto",worldwide,2025-08-22 13:22:49,https://remoteok.com/remote-jobs/remote-defi-a...,Worldwide,Remote,WorldWide,13:22:49,2025-08-22
1,Engineer,Full Stack Product Engineer,Jiga,"Senior, JavaScript, React, Node, Mongo, Full S...",united states,2026-01-04 09:11:39,https://remoteok.com/remote-jobs/remote-full-s...,United States,Onsite,USA,09:11:39,2026-01-04
2,Engineer,Lead Omics Workflow Engineer,Axle,"Software, Assistant, Lead, Health, Healthcare,...",upgrade to premium to see salary,2026-01-06 00:02:28,https://remoteok.com/remote-jobs/remote-lead-o...,Upgrade to Premium to see salary,Unknown,Others,00:02:28,2026-01-06

In [38]:
# cleaning job section

In [39]:
df["job_title"].nunique()

916

In [40]:
df["job_title"].value_counts().head(50)

job_title
Software Engineer                                   85
Senior Software Engineer                            49
Senior Data Engineer                                40
Senior DevOps Engineer                              37
Data Engineer                                       34
Account Executive                                   32
Current openings                                    27
Product Manager                                     23
DevOps Engineer                                     22
Staff Software Engineer                             20
Enterprise Account Executive                        19
Customer Success Manager                            18
Sales Development Representative                    17
Senior Product Manager                              17
Sales Engineer                                      15
Senior Backend PHP Software Engineer Inventory      15
Growth Marketing Manager                            15
The SafetyWing Digital Nomad Residency              14
Product Designer                                    14
Backend Engineer                                    14
Senior Full Stack Engineer                          14
Project Manager                                     14
Full Stack Software Engineer                        13
Account Manager                                     13
Frontend Engineer                                   12
Business Development Manager                        12
Senior Infrastructure Engineer                      12
Marketing Operations Strategist                     12
Senior Product Designer                             11
Business Development Representative                 11
Graphic Designer                                    11
Solutions Architect                                 11
Senior Backend Engineer                             11
Data Analyst                                        11
Technical Project Manager                           11
Senior Data Analyst                                 11
Senior Business Analyst                             10
Senior Backend Developer                            10
Senior Manager Martech Developer Digital Banking    10
Technical Writer                                    10
Managing Director AMER Advertising Solutions        10
Junior Data Engineer                                10
Full Stack Developer                                10
Art Director                                        10
Developer Relations Engineer                        10
Vice President Project Delivery                     10
Customer Service Representative                      9
Senior Backend Software Engineer                     9
Senior Software Engineer Agentic Assistant           9
Senior Communications Manager                        9
Name: count, dtype: int64

In [41]:
invalid_titles = [
    "current openings",
    "openings",
    "careers",
    "jobs",
    "the safetywing digital nomad residency"
]

df["job_title_clean"] = df["job_title"].str.lower().str.strip()

df["is_valid_job_title"] = ~df["job_title_clean"].isin(invalid_titles)

In [42]:
df["is_valid_job_title"].value_counts()

is_valid_job_title
True     4355
False      43
Name: count, dtype: int64

In [43]:
df = df[df["is_valid_job_title"]].copy()

In [44]:
df.drop(columns=["is_valid_job_title"], inplace=True)

In [45]:
df["job_title"].value_counts().head(15)

job_title
Software Engineer                                 85
Senior Software Engineer                          49
Senior Data Engineer                              40
Senior DevOps Engineer                            37
Data Engineer                                     34
Account Executive                                 32
Product Manager                                   23
DevOps Engineer                                   22
Staff Software Engineer                           20
Enterprise Account Executive                      19
Customer Success Manager                          18
Senior Product Manager                            17
Sales Development Representative                  17
Senior Backend PHP Software Engineer Inventory    15
Growth Marketing Manager                          15
Name: count, dtype: int64

In [46]:
def map_role_bucket(title):
    t = title.lower()

    if "engineer" in t or "developer" in t:
        return "Engineering"
    if "data" in t:
        return "Data"
    if "product" in t:
        return "Product"
    if any(x in t for x in ["sales", "account executive", "business development"]):
        return "Sales"
    if any(x in t for x in ["marketing", "growth"]):
        return "Marketing"
    if any(x in t for x in ["designer", "design", "art"]):
        return "Design"
    if any(x in t for x in ["manager", "director", "head", "vice president"]):
        return "Management"
    if any(x in t for x in ["writer", "documentation"]):
        return "Writing"

    return "Other"

df["role_bucket"] = df["job_title"].apply(map_role_bucket)

In [47]:
df["role_bucket"].value_counts()

role_bucket
Engineering    1665
Other           922
Management      577
Sales           394
Marketing       238
Product         224
Design          175
Data             82
Writing          78
Name: count, dtype: int64

In [48]:
def extract_seniority(title):
    t = title.lower()

    if any(x in t for x in ["intern", "trainee", "junior", "jr"]):
        return "Junior"
    if any(x in t for x in ["senior", "sr"]):
        return "Senior"
    if any(x in t for x in ["staff", "principal", "lead"]):
        return "Staff/Lead"
    if any(x in t for x in ["head", "director", "vice president", "managing director"]):
        return "Executive"

    return "Mid"

df["seniority"] = df["job_title"].apply(extract_seniority)

In [49]:
df["seniority"].value_counts()

seniority
Mid           2629
Senior        1053
Staff/Lead     304
Executive      273
Junior          96
Name: count, dtype: int64

In [50]:
df.head(5)

,search_role,job_title,company_name,technical_skills,location,date_posted,job_url,location_raw,location_type,loc_region,post_time,post_date,job_title_clean,role_bucket,seniority
0,Support,DeFi Analyst and Educator,Decentralized Masters,"Edu, Teaching, Crypto",worldwide,2025-08-22 13:22:49,https://remoteok.com/remote-jobs/remote-defi-a...,Worldwide,Remote,WorldWide,13:22:49,2025-08-22,defi analyst and educator,Other,Mid
1,Engineer,Full Stack Product Engineer,Jiga,"Senior, JavaScript, React, Node, Mongo, Full S...",united states,2026-01-04 09:11:39,https://remoteok.com/remote-jobs/remote-full-s...,United States,Onsite,USA,09:11:39,2026-01-04,full stack product engineer,Engineering,Mid
2,Engineer,Lead Omics Workflow Engineer,Axle,"Software, Assistant, Lead, Health, Healthcare,...",upgrade to premium to see salary,2026-01-06 00:02:28,https://remoteok.com/remote-jobs/remote-lead-o...,Upgrade to Premium to see salary,Unknown,Others,00:02:28,2026-01-06,lead omics workflow engineer,Engineering,Staff/Lead
3,Engineer,Copy of Senior AI ML Engineer Applied Machine ...,Trase Systems,Senior,usa,2026-01-06 00:02:04,https://remoteok.com/remote-jobs/remote-copy-o...,USA,Onsite,USA,00:02:04,2026-01-06,copy of senior ai ml engineer applied machine ...,Engineering,Senior
4,Engineer,Senior Software Engineer Backend Engineering,Trase Systems,"Software, Senior, Engineering, Backend",upgrade to premium to see salary,2026-01-06 00:01:33,https://remoteok.com/remote-jobs/remote-senior...,Upgrade to Premium to see salary,Unknown,Others,00:01:33,2026-01-06,senior software engineer backend engineering,Engineering,Senior

In [51]:
df.duplicated(
    subset=["job_title_clean", "company_name", "job_url"]
).sum()

3263

In [52]:
dupes = df[df.duplicated(
    subset=["job_title_clean", "company_name", "job_url"],
    keep=False
)]

dupes[["job_title", "company_name", "job_url", "post_date"]].head(10)

,job_title,company_name,job_url,post_date
0,DeFi Analyst and Educator,Decentralized Masters,https://remoteok.com/remote-jobs/remote-defi-a...,2025-08-22
1,Full Stack Product Engineer,Jiga,https://remoteok.com/remote-jobs/remote-full-s...,2026-01-04
2,Lead Omics Workflow Engineer,Axle,https://remoteok.com/remote-jobs/remote-lead-o...,2026-01-06
3,Copy of Senior AI ML Engineer Applied Machine ...,Trase Systems,https://remoteok.com/remote-jobs/remote-copy-o...,2026-01-06
4,Senior Software Engineer Backend Engineering,Trase Systems,https://remoteok.com/remote-jobs/remote-senior...,2026-01-06
5,Senior Software Engineer Frontend Engineering,Trase Systems,https://remoteok.com/remote-jobs/remote-senior...,2026-01-06
6,Software Engineer Agent Infrastructure,OpenAI,https://remoteok.com/remote-jobs/remote-softwa...,2026-01-05
7,Software Engineer,Tech Solutions Inc.,https://remoteok.com/remote-jobs/remote-softwa...,2026-01-05
8,Senior Backend PHP Software Engineer Inventory,Cloudbeds,https://remoteok.com/remote-jobs/remote-senior...,2026-01-05
9,Senior Backend PHP Software Engineer Inventory,Cloudbeds,https://remoteok.com/remote-jobs/remote-senior...,2026-01-05

In [53]:
df = df.drop_duplicates(
    subset=["job_title_clean", "company_name", "job_url"],
    keep="first"
)

In [54]:
df.duplicated(
    subset=["job_title_clean", "company_name", "job_url"]
).sum()

0

In [55]:
print("After:", len(df))

After: 1092

In [56]:
df.groupby(["company_name", "job_title_clean"]).size().sort_values(ascending=False).head(15)

company_name            job_title_clean
Tech Innovations Inc.   software engineer                                                        13
Tech Solutions Inc.     software engineer                                                         5
Cloudbeds               senior backend php software engineer inventory                            3
Datavant                job                                                                       3
InfStones               growth marketing manager                                                  3
Salt Security           api security engineer                                                     2
CompassX Group          full stack software engineer                                              2
Mark43                  data migration engineer                                                   2
ALX Africa              program delivery intern                                                   2
Marketing Architects    ai product engineer                                                       2
Acquia                  senior software engineer                                                  2
Power Digital           marketing operations strategist                                           2
Honeycomb               observability engineer                                                    2
HubSpot                 hubspot careers all openings                                              2
Mercier Consultancy MD  danish speaking jobs greece work greece fully paid relocation package     2
dtype: int64

In [57]:

df["job_title_clean"] = (
    df["job_title"]
    .str.lower()
    .str.replace(r"\(.*?\)", "", regex=True)
    .str.replace(r"\s+", " ", regex=True)
    .str.strip()
)
# noisy title
bad_title_patterns = [
    r"^job$",
    r"careers",
    r"all openings",
    r"jobs ",
    r"current openings",
    r"openings",
    r"work .* relocation",
]

# making mask for bad titles
mask = df["job_title_clean"].str.contains(
    "|".join(bad_title_patterns),
    regex=True,
    na=False
)


 # Removing bad titles
df = df[~mask].copy()
df.reset_index(drop=True, inplace=True)

print("Cleaning complete.")
print("Remaining rows:", len(df))

Cleaning complete.
Remaining rows: 1078

In [58]:
df["job_title"].value_counts().head(20)

job_title
Software Engineer                   27
Senior Software Engineer            12
Senior Data Engineer                 9
Account Executive                    8
Data Engineer                        8
Product Manager                      6
Senior DevOps Engineer               6
Senior Product Manager               5
Enterprise Account Executive         5
Customer Success Manager             5
DevOps Engineer                      5
Staff Software Engineer              5
Backend Engineer                     4
Product Designer                     4
Business Development Manager         4
Sales Development Representative     4
Senior Data Analyst                  3
Account Manager                      3
Project Manager                      3
Senior Product Designer              3
Name: count, dtype: int64

In [59]:
df.shape

(1078, 15)

In [60]:
df.head(5)

,search_role,job_title,company_name,technical_skills,location,date_posted,job_url,location_raw,location_type,loc_region,post_time,post_date,job_title_clean,role_bucket,seniority
0,Support,DeFi Analyst and Educator,Decentralized Masters,"Edu, Teaching, Crypto",worldwide,2025-08-22 13:22:49,https://remoteok.com/remote-jobs/remote-defi-a...,Worldwide,Remote,WorldWide,13:22:49,2025-08-22,defi analyst and educator,Other,Mid
1,Engineer,Full Stack Product Engineer,Jiga,"Senior, JavaScript, React, Node, Mongo, Full S...",united states,2026-01-04 09:11:39,https://remoteok.com/remote-jobs/remote-full-s...,United States,Onsite,USA,09:11:39,2026-01-04,full stack product engineer,Engineering,Mid
2,Engineer,Lead Omics Workflow Engineer,Axle,"Software, Assistant, Lead, Health, Healthcare,...",upgrade to premium to see salary,2026-01-06 00:02:28,https://remoteok.com/remote-jobs/remote-lead-o...,Upgrade to Premium to see salary,Unknown,Others,00:02:28,2026-01-06,lead omics workflow engineer,Engineering,Staff/Lead
3,Engineer,Copy of Senior AI ML Engineer Applied Machine ...,Trase Systems,Senior,usa,2026-01-06 00:02:04,https://remoteok.com/remote-jobs/remote-copy-o...,USA,Onsite,USA,00:02:04,2026-01-06,copy of senior ai ml engineer applied machine ...,Engineering,Senior
4,Engineer,Senior Software Engineer Backend Engineering,Trase Systems,"Software, Senior, Engineering, Backend",upgrade to premium to see salary,2026-01-06 00:01:33,https://remoteok.com/remote-jobs/remote-senior...,Upgrade to Premium to see salary,Unknown,Others,00:01:33,2026-01-06,senior software engineer backend engineering,Engineering,Senior

In [61]:
df = df[~df["job_title_clean"].str.startswith("copy of")].copy()
df.reset_index(drop=True, inplace=True)

In [62]:
df.shape

(1077, 15)

In [63]:
df_master=df.copy()

In [64]:
cols_to_drop=[
    'location_raw',
    'location',
    'date_posted'
]

df_clean_cl = df.drop(columns=cols_to_drop)

In [65]:
df_clean_cl.head(3)

,search_role,job_title,company_name,technical_skills,job_url,location_type,loc_region,post_time,post_date,job_title_clean,role_bucket,seniority
0,Support,DeFi Analyst and Educator,Decentralized Masters,"Edu, Teaching, Crypto",https://remoteok.com/remote-jobs/remote-defi-a...,Remote,WorldWide,13:22:49,2025-08-22,defi analyst and educator,Other,Mid
1,Engineer,Full Stack Product Engineer,Jiga,"Senior, JavaScript, React, Node, Mongo, Full S...",https://remoteok.com/remote-jobs/remote-full-s...,Onsite,USA,09:11:39,2026-01-04,full stack product engineer,Engineering,Mid
2,Engineer,Lead Omics Workflow Engineer,Axle,"Software, Assistant, Lead, Health, Healthcare,...",https://remoteok.com/remote-jobs/remote-lead-o...,Unknown,Others,00:02:28,2026-01-06,lead omics workflow engineer,Engineering,Staff/Lead

In [66]:
# rearranging
df_clean_cl = df_clean_cl[
    [
        "search_role",
        "job_title_clean",
        "company_name",
        "role_bucket",
        "seniority",
        "technical_skills",
        "location_type",
        "loc_region",
        "post_date",
        "post_time",
        "job_url"
    ]
]

In [67]:
df_clean_cl.head(4)

,search_role,job_title_clean,company_name,role_bucket,seniority,technical_skills,location_type,loc_region,post_date,post_time,job_url
0,Support,defi analyst and educator,Decentralized Masters,Other,Mid,"Edu, Teaching, Crypto",Remote,WorldWide,2025-08-22,13:22:49,https://remoteok.com/remote-jobs/remote-defi-a...
1,Engineer,full stack product engineer,Jiga,Engineering,Mid,"Senior, JavaScript, React, Node, Mongo, Full S...",Onsite,USA,2026-01-04,09:11:39,https://remoteok.com/remote-jobs/remote-full-s...
2,Engineer,lead omics workflow engineer,Axle,Engineering,Staff/Lead,"Software, Assistant, Lead, Health, Healthcare,...",Unknown,Others,2026-01-06,00:02:28,https://remoteok.com/remote-jobs/remote-lead-o...
3,Engineer,senior software engineer backend engineering,Trase Systems,Engineering,Senior,"Software, Senior, Engineering, Backend",Unknown,Others,2026-01-06,00:01:33,https://remoteok.com/remote-jobs/remote-senior...

In [70]:
df_clean_cl.to_csv("remote_ok_jobs_cleaned_analysis_ready.csv",index=False,encoding="utf-8")